
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
:root{
    /* Fonts */
    --Rubik: 'Rubik', sans-serif; 
    --Rubik-400: 400;
    --Rubik--500: 500;
}

:root{
    /* Primary Colors */
   --Soft-Blue: hsl(231, 69%, 60%);
   --Soft-Red: hsl(0, 94%, 66%);

   /* Neutral Colors */
   --Grayish-Blue: hsl(229, 8%, 60%);
   --Very-Dark-Blue: hsl(229, 31%, 21%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Rubik);

}

/* body{
    background-image: url(/assets/);
} */

li{
    margin-left: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #111;
    font-size: 1rem;

}

p{
    color: var(--Grayish-Blue);
}

/* --========== Layout ==========-- */
.bd-container{
    max-width: 1024px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0 20px;
}


/* --========== Header ==========-- */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .logo img{
    margin-top: 10px;
    width: 100%;
    max-width: 150px;
    height: auto;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px 50px;
    z-index: 1000;
    transition: .5s;
}

header.sticky{
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

header.sticky .nav-menu li {
    color: #111;
}

.nav-menu{
    position: relative;
    display: flex;
    
}

header li a:hover{
    color: var(--Soft-Red);
}

header.sticky li a:hover{
    color: green;
}

header.sticky li .login{
    color: #fff;
}

header li .login{
    color: #fff;
    background-color: var(--Soft-Red);
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

header li .login:hover{
    border: 1px solid var(--Soft-Red);
    color: var(--Soft-Red);
    background-color: #fff;
}

/* --========== Banner Section ==========-- */
.banner-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 80vh;
}

.banner-text{
    margin-bottom: 50px;
    font-weight: 100;
}

.banner-text h1{
    font-size: 3rem;
    width: 480px;
    margin-bottom: 30px;
}

.banner-text p{
    line-height: 25px;
    width: 450px;
    margin-bottom: 40px;
}

.banner-text .button{
    display: flex;
    gap: 20px;
}

.banner-text .button a{
    display: block;
    padding: 15px;
    width: 30%;
    background-color: #F1F1F4;
    border-radius: 5px;
    text-align: center;
    font-size: .8rem;
    color: var(--Very-Dark-Blue);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.banner-text .button .chrome{
    background-color: var(--Soft-Blue);
    color: #fff;
}

.banner-text .chrome:hover{
    border: .5px solid var(--Soft-Blue);
    background-color: #fff;
    color: var(--Soft-Blue);
}

.banner-text .firefox:hover{
    background-color: #fff;
    color: var(--Very-Dark-Blue);
    border: 1px solid var(--Very-Dark-Blue);
}



.banner-img img{
    width: 100%;
}

/* --========== Banner Section END ==========-- */

/* ========== Features Section ========== */
.title{
    text-align: center;
    margin-bottom: 30px;
}

.text{
    text-align: center;
    width: 500px;
    font-size: 1rem;
    margin: 0 auto;
    font-weight: 100;
    margin-bottom: 40px;
}

.wrapper {
    position: relative;
}

.wrapper .feature-tab{
    position: relative;
    width: 60%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
  }

  .wrapper .feature-tab label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #111;
    font-size: 17px;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
  }
  .wrapper .feature-tab label:hover{
    color: var(--Soft-Red);
  }
  #boorkmark:checked ~ .feature-tab label.bookmark,
  #search:checked ~ .feature-tab label.search,
  #share:checked ~ .feature-tab label.share{
    color: #111;
  }
  
  .feature-tab .slider{
    position: absolute;
    height: 10%;
    width: 33%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: var(--Soft-Red);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #bookmark:checked ~ .feature-tab .slider{
    left: 1%;
  }
  
  #search:checked ~ .feature-tab .slider{
    left: 34.3%;
  }
  #share:checked ~ .feature-tab .slider{
    left: 68%;
  }
 
  .feature-content .content{
    display: none;
    background: #fff;
  }
  #bookmark:checked ~ .feature-content .content-1,
  #search:checked ~ .feature-content .content-2,
  #share:checked ~ .feature-content .content-3
  {
    display: block;
  }

  .feature-info{
      margin-top: 50px;
      margin-bottom: 40px;
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
  }

  .feature-info .content-text{
    max-width: 550px;
  }
  
  .feature-info .content-text h3{
      margin-bottom: 20px;
      font-size: 1.8rem;
  }

 .feature-info .content-text p{
     font-size: 1.1rem;
     margin-bottom: 50px;
 }

.feature-info .content-image img{
    max-width: 100%;
    height: auto;
}
  
 .content-text .more-info{ /* Anchor button */
        padding: 15px;
        width: 100%;
        background-color: var(--Soft-Blue);
        border-radius: 5px;
        text-align: center;
        font-size: .8rem;
        color: #fff;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
 }
/* ========== Features Section END ========= */

/* ========== Extension Section ========== */
.extension-container{
    margin-top: 140px;
}

.extension-browser{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.browser{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;

}

.extension-browser .browser img{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.extension-browser .browser h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.extension-browser .browser p{
    font-size: .8rem;
    margin-bottom: 20px;
}

.extension-browser .browser .dots{
   width: 100%;
}

.extension-browser .browser .button{
    display: block;
    padding: 15px;
    width: 100%;
    background-color: var(--Soft-Blue);
    border-radius: 2px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    
}


.extension-browser .browser .button:hover{
    border: 1px solid var(--Soft-Blue);
    background-color: #fff;
    color: var(--Soft-Blue);
}

.extension-browser .firefox{
    margin-top: 50px;
}

.extension-browser .opera{
    margin-top: 150px;
}

/* ========== Extension Section END ========== */


/* ========== FAQ Section ========== */
.faq-container{
    margin-top: 100px;
}


.questions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.answer{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    display: none;
}
/* ========== FAQ Section END ========== */




/* --========== Media Qeury ==========-- */
@media screen and (max-width: 900px){

    /* ========== Header Navigation ========== */
    header{
        padding: 20px 10px;
        
    }

    header .nav-menu, .header-container span{
        display: none;
    }

    header.active{
        background-color: var(--Soft-Blue);
    }

    .logo.active{
        filter: brightness(0) invert(1);
    }

    header .nav-menu.active{
        width: 100%;
        height: 750px;
        background-color: var(--Soft-Blue);
        opacity: 0.9;
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    header .nav-menu li{
        margin-left: 0;
        margin-bottom: 40px;
    }

    .nav-menu li a{
        font-size: 1.6rem;
        color: #fff;
        font-weight: 600;
    }

    .menu-toggle{
        position: relative;
        width: 50px;
        height: 20px;
        background: url(/assets/img/icon-hamburger.svg) no-repeat center;
        background-size: 25px;
        cursor: pointer;
    }

    .menu-toggle.active{
        background: url(/assets/img/icon-close.svg) no-repeat center;
        background-size: 25px;
    }

    /* ========== Header Navigation END ========== */

    /* ========== Banner Section ========== */
    .banner-content{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .banner-text h1{
        margin: 0 auto;
        width: 100%;
    }
    
    .banner-text p{
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
    }

    .banner-img{
        margin-top: 80px;
        grid-row-start: 1;
    }

    .banner-img img{
        max-width: 100%;
    }

    .banner-text .button{
        justify-content: center;
    }

    /* ========== Banner Section END ========== */

    /* ========== Features Section ========== */
    .wrapper .feature-tab{
        grid-template-columns: 1fr;
    }

    .text{
        max-width: 100%;
    }


    .feature-tab .slider{
        width: 100%;
        position: absolute;
    }

  
    #search:checked ~ .feature-tab .slider{
        bottom: -45px;
        left: 3px;
    }
     #share:checked ~ .feature-tab .slider{
        bottom: -95px;
        left: 3px;
    }
    .feature-content {
          margin-top: 120px;
    }


    .feature-info{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .feature-info .content-text{
       max-width: 100%;
    }
    /* ========== Features Section END ========= */

    /* ========== Extension Section ========== */
    .extension-browser{
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }

    .browser{
        width: 60%;
        margin:  auto;
    }

    .extension-browser .firefox{
        margin: 0 auto;
    }

    .extension-browser .opera{
        margin: 0 auto;
    }
    
    /* ========== Extension Section END ========== */
}

@media (max-width: 600px){

    /* ========== Banner Section ========== */
    .banner-text h1{
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1.2rem;
        margin-top: 20px;
    }
    /* ========== Banner Section END ========== */

    /* ========== Extension Section ========== */

    .browser{
        width: 90%;
        margin:  auto;
    }
}


@media screen and (min-width: 1024px){
    .bd-container{
        margin-right: auto;
        margin-left: auto;
    }
}